:root{
  --primary-green-light: #369457;
  --seconday-green-light: #29773E;
  --background-green: #032202;
  --background-green-secondary:#093009;
  --primary-green-dark: #1f6032;
  --secondary-green-dark:#0D3e10;
  --primary-yellow: #fad201;
}

*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

html,
body{
  font-family: 'Roboto', sans-serif;
  background: var(--background-green);
  color: #fff;
}