.btn{
    padding: 15px 40px;
    border-radius: 5px;
    border: 3px solid $primary-green-dark;
    background: $primary-green-light;
    color: #fff;
    font-size: 1.1rem;
}

@media (max-width: 767px) and (orientation:landscape) {
    .btn{
        padding: 5px 30px;
        font-size: 0.75rem;
    }
}

@media (max-width: 812px) and (orientation:landscape) {
    .btn{
        padding: 5px 30px;
        font-size: 0.75rem;
    }
}