// Color Theme
$primary-green-light: #369457;
$seconday-green-light: #29773E;
$background-green: #032202;
$background-green-secondary:#093009;
$primary-green-dark: #1f6032;
$secondary-green-dark:#0D3e10;
$primary-yellow: #fad201;