@import './colors';


.answer-status-container{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    width: 175px;
    height: 50px;
    border: 3px solid;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: grow 2s ease-in-out forwards;
    font-size: 2rem;
    border-radius: 10px;

    &.correct{
        border-color: $primary-green-light;
        background: #29773ea4;
        color: $primary-green-light;
    }

    &.incorrect{
        border-color: red;
        background: rgba(255, 0, 0, 0.534);
        color: red;
    }
}


@keyframes grow{
        0% { transform: scale(0);}
        45% { transform: scale(1);}
        60% { transform: scale(1);}
        100% { transform: scale(0); }
}




@media (min-width: 374px){
    .answer-status-container{
        width: 200px;
        height: 50px;
    }
}

@media (min-width: 480px) {
    .answer-status-container{
        width: 200px;
        height: 50px;
        font-size: 3rem;

    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .answer-status-container{
        width: 250px;
        height: 75px;
    }
}


@media (min-width: 992px) { 

}





// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 
//     .loaded-img{
//         max-width: 35%;
//         max-height: auto;
//     }
//}