.loaded-img{
    opacity: 0;
    max-width: 100%;
    height: auto;
    animation: enter 3s ease-in-out forwards;
}

@keyframes enter{
    0%{ opacity: 0;}
    25%{ opacity: 1;}
    50%{ opacity: 1;}
    75%{ opacity: 1;}
    100%{ opacity: 0;}}



@media (min-width: 320px){
    .loaded-img{
      max-height:200px ;
    }
}

@media (min-width: 374px){
    .loaded-img{
        max-height: 225px ;
    }
}

@media (min-width: 480px) {
    .loaded-img{
        max-height: 250px ;
    }
}


@media (min-width: 768px) { 
    .loaded-img{
        max-height: 300px ;
    }
}


@media (min-width: 992px) { 
    .loaded-img{
        max-height: 250px;
    }
}
@media (min-width: 1024px) { 
    .loaded-img{
        max-height: 325px;
    }
}



@media (max-width: 767px) and (orientation:landscape) {
    .loaded-img{
        max-height: 150px ;
    }
}

@media (max-width: 813px) and (orientation:landscape) {

    .loaded-img{
        max-height: 175px ;
    }
}

@media (max-width: 569px) and (orientation:landscape) {
    .loaded-img{
        max-height: 135px ;
    }
}