.loaded-img{
    opacity: 0;
    max-width: 45%;
    max-height: auto;
    animation: enter 0.5s ease-in forwards;
}

@keyframes enter{
    0%{ opacity: 0;}
    25%{ opacity: 0.25;}
    50%{ opacity: 0.5;}
    75%{ opacity: 0.75;}
    100%{ opacity: 1;}
}



// Very small devices
@media (min-width: 320px){
    .loaded-img{
        max-width: 40%;
        max-height: auto;
    }
}

@media (min-width: 374px){
    .loaded-img{
        max-height: 100%;
        max-width: auto;
    }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 480px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
    .loaded-img{
        max-width: 45%;
        max-height: auto;
    }
}





// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
    .loaded-img{
        max-width: 35%;
        max-height: auto;
    }
}